@import "colors";

body {
  background-color: $color-main;
}

.card {
  background: $color-lightest;

  .card-header, .card-block {
    word-wrap: break-word;
  }
}

.card-shadow {
  margin: {
    top: .75rem;
    bottom: .75rem;
  }

  box-shadow: 1px 1px 1rem 0 $color-dark;
}


.text-dark { color: $color-alt-darkest; }
